* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0095ff;
}
.container {
  position: absolute;
  
  background-image: url("bg.jpg");
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 15px 1px gray;
}
header,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 48px;
  margin-right: 10px;
}
h5 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: 1px 1px 10px black;
}
header .chip {
  width: 60px;
}
h6 {
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
}
h5.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 1px;
}
h5.name {
  margin-top: 20px;
}
.container .card-details {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
li {
  list-style-type: none;
  overflow: hidden;
}

ul li a {
  display: flex;
  color: rgb(0, 0, 0);
  position: absolute;
  padding: 14px 16px;
  text-decoration: none;
  background:lightgreen;
  border: 1px solid lightgreen;
  border-radius: 30%;
}
.bob{
  position: absolute;
  bottom: 70px;
}